/*Estilização do corpo da página*/
body{
    background: #093952;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    font-family:'Segoe UI';
}

header{
    background: #0D4D6D;
    padding: 5px;
}

nav{
    position: absolute;
    top: 20px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 50px;
}

nav a{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: normal;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover{
    color: #1793D1;
    text-decoration: overline;
}

footer{
    text-align: center;
    background: url(bg.jpg);
    padding: 40px 0;
}

/*Copyright*/
.copyright{
    color: #ffffff40;
    font-size: 13px;
    margin: 20px 0 0;
}

ul{
    list-style: none;
}

.logo_site{
    width: 95%;
    position: relative;
    margin: auto;
}

/*banner*/
.banner{
    width: 100%;
    height: 100%;
}

/*estilização da área sobre*/
.titulo-principal{
    text-align: center;
    font-size: 50px;
    margin: 3em 0 1em;
    clear: left;
    color: #eeeeee;
}

.principal{
    width: 940px;
    margin: 0 auto;
    padding: 1em 0;
    text-align: justify;
}

.principal strong{
    font-style: italic;
    font-weight: bold;
    color: #eeeeee;
}

.logoBanner {
    width: 120px;
    float:left;
    margin: 0 20px 20px 440px;
}

/*Estilização do Mapa*/
.map{
    padding: 2em 0;
    background: linear-gradient(#093952, #0D4D6D);
    font-size: 26px;
}

.mapa-conteudo{
    width: 100px;
    padding: 1em 19em; 
    margin-bottom: 0em;
}

.map p{
    margin: 0 0 2em;
    text-align: center;
    font-size: 24px;
    color: #eeeeee;
}

.map h3{
    text-align: center;
    font-size: 2em;
    color: #eeeeee;
    margin-top: 5em;
}

/*Área Benefícios e Vídeo*/
.beneficios{
    padding: 3em 0;
    background:#0D4D6D;
}

.tituloPrincipal{
    text-align: center;
    font-size: 52px;
    color: #eeeeee;
}

.conteudoBeneficio{
    width: 700px;
    margin: 0 auto;
    margin-left: 620px;
}

.listaBeneficio{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.imgBeneficios{
    width: 40%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 5px 0px #a0a0a0;
    border-radius: 450px;
}

.imgBeneficios:hover{
    opacity: 0.7;
}

.itens{
    line-height: 2;
    font-size: 22px;
    float: left;
    color: #eeeeee;
}

.itens:before{
    content: "◈";
    font-weight: bold;
}

.video{
    width: 560px;
    margin: 4em auto;
}
.beneficios h2{
    margin-top: 3em;
}

.sobre{
    font-size: 24px;
    color: #eeeeee;
    line-height: 30px;
}